// Vars
$colorBackgroundAdmin: #F9F9F9;
$colorGray: #554a4c;
$colorMediumGray: #50555b;
$colorLightGray: #a4aab6;
$colorRed: #FF4355;
$colorBlue: #03B7E5;
$colorYellow: #FBAA21;
$colorWhite: #FFFFFF;
$colorTurquoise: #35DEF4;
$colorLightBlue: #29B7E5;
$colorGreen: #66bb6a;

// Margins
$marginStandard: 35px;

// Forms
$borderColorInFields: #deefff;
$backgroundColorInFields: #f5faff;
$placeholderColor: #c3c3c3;

html,
body {
  background-color: $colorBackgroundAdmin;
  height:100%;
  position: relative;
  font-size: 16px;
  overflow-x: hidden;
}

.loader {
  background: rgba(53, 222, 244, 1);
  background: -moz-linear-gradient(top, rgba(53, 222, 244, 1) 0%, rgba(53, 222, 244, 1) 5%, rgba(26, 126, 157, 1) 94%, rgba(26, 126, 157, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53, 222, 244, 1)), color-stop(5%, rgba(53, 222, 244, 1)), color-stop(94%, rgba(26, 126, 157, 1)), color-stop(100%, rgba(26, 126, 157, 1)));
  background: -webkit-linear-gradient(top, rgba(53, 222, 244, 1) 0%, rgba(53, 222, 244, 1) 5%, rgba(26, 126, 157, 1) 94%, rgba(26, 126, 157, 1) 100%);
  background: -o-linear-gradient(top, rgba(53, 222, 244, 1) 0%, rgba(53, 222, 244, 1) 5%, rgba(26, 126, 157, 1) 94%, rgba(26, 126, 157, 1) 100%);
  background: -ms-linear-gradient(top, rgba(53, 222, 244, 1) 0%, rgba(53, 222, 244, 1) 5%, rgba(26, 126, 157, 1) 94%, rgba(26, 126, 157, 1) 100%);
  background: linear-gradient(to bottom, rgba(53, 222, 244, 1) 0%, rgba(53, 222, 244, 1) 5%, rgba(26, 126, 157, 1) 94%, rgba(26, 126, 157, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35def4', endColorstr='#1a7e9d', GradientType=0);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;

  img {
    width: 100px;
    height: auto;
  }
}

.intro-bg {
  background-image: url("../img/bg1-overlay.jpg");
  background-size: cover;
  background-position: center;
}

.login-bg {
  background-image: url("../img/bg2-overlay.jpg");
  background-size: cover;
  background-position: center;
}

.intro-text {
  color: #fff;
  width: 60%;
  .logo {
    img {
      width: 15rem;
    }
  }

  .text {
    color: #fff;
  }

  a.login {
    color: #35def4;
    background-color: $colorWhite;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
  }

  a.register {
    color: #fff;
    font-weight: bold;
  }
}

header{
  &.header-login{
    position: absolute;
    height: 65px;
    width: 100%;
    img{
      width: 190px;
    }
  }
  &.header-session{
    background-color: $colorWhite;
    position: absolute;
    height: 80px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 10px 10px 0px rgba(204,204,204,1);
    box-shadow: 0px 10px 10px 0px rgba(204,204,204,1);
    z-index: 3;
    .logo-header{
      img{
        width: 2rem;
        position: absolute;
        left: 5rem;
        @media(max-width: 480px){
          left: 3rem;
        }
      }
    }
    .access-header{
      position: absolute;
      right: 4rem;
      @media(max-width: 600px){
        right: 1rem;
      }
      .notifications-container{
        display: inline-block;
        position: relative;
        .number{
          color: $colorWhite;
          position: absolute;
          font-size: 14px;
          top: 20px;
          right: 10px;
          background-color: $colorBlue;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          padding: 0px 6px;
          line-height: 20px;
        }
        i.material-icons{
          font-size: 2.5rem;
          cursor: pointer;
          @media(max-width: 480px){
            margin-right: 1.2rem;
          }
        }
      }

      .profile-img{
        border-radius: 50%;
        width: 40px;
        background-size: cover;
        background-position: center;
        height: 40px;
        display: inline-block;
        @media(max-width: 480px){
          margin-right: 1.2rem;
        }
      }
      i{
        &.material-icons{
          &.menu-button{
            cursor: pointer;
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

.notifications-detail{
  background-color: #fff;
  border-radius: 3px;
  color: $colorGray;
  font-size: 11px;
  height: auto;
  max-height: 340px;
  position: absolute;
  overflow: auto;
  z-index: 1000;
  width: 400px;
  top: 80px;
  right: 128px;
  box-shadow: 0 2px 15px rgba(0,0,0,.5);
  &:before{
    content: '';
    border-bottom: 10px solid $colorWhite;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -8px;
    right: 20px;
  }
  @media(max-width: 600px){
    -webkit-box-shadow: 0 5px 10px 5px rgba(0,0,0,.21);
    -moz-box-shadow: 0 5px 10px 5px rgba(0,0,0,.21);
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.21);
    right: 0;
    left: 0;
    top: 0;
    margin: 60px auto 0 auto;
    width: 95vw;
  }
  .item{
    padding: 8px 12px;
    position: relative;
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #c3c3c3;
    overflow: hidden;
    .description{
      display: inline-block;
      width: 80%;
      .mdl-card__supporting-text{
        ul{
          color: $colorGray;
          display: inline-block;
          list-style: none;
          width: 80%;
          margin-bottom: 0;
          padding-inline-start: 0;
          li{
            a{
              text-decoration: none;
              color: inherit;
              font-size: 1rem;
            }
            strong{
              color: $colorBlue;
              font-size: 0.9rem;
            }
          }
        }
      }
      small{
        color: $colorLightGray;
        font-size: 13px;
      }
    }
    .delete-icon{
      display: inline-block;
      width: max-content;
      padding-left: 20px;
      i{
        &.material-icons{
          color: $colorRed;
          -webkit-text-fill-color: $colorRed;
          font-size: 40px;
          vertical-align: middle;
          position: relative;
          top: -18px;
        }
      }
    }
  }
}

.quick-actions{
  background-color: #fff;
  border-radius: 5px;
  color: #554a4c;
  font-size: 11px;
  height: auto;
  max-height: 340px;
  position: absolute;
  z-index: 999;
  width: 300px;
  bottom: 80px;
  right: 100px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  @media(max-width: 600px){
    -webkit-box-shadow: 0 5px 10px 5px rgba(0,0,0,.21);
    -moz-box-shadow: 0 5px 10px 5px rgba(0,0,0,.21);
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.21);
    right: 0;
    left: 0;
    top: 0;
    margin: 60px auto 0 auto;
    width: 95vw;
  }
  .item{
    padding: 8px 12px;
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    .description{
      display: inline-block;
      width: 80%;
      .mdl-card__supporting-text{
        margin-top: 4px;
        ul{
          color: $colorGray;
          display: inline-block;
          list-style: none;
          width: 80%;
          margin-bottom: 0;
          padding-inline-start: 0;
          li{
            a{
              text-decoration: none;
              color: inherit;
              font-size: 1rem;
            }
            strong{
              color: $colorBlue;
              font-size: 0.9rem;
            }
          }
        }
      }
      small{
        color: $colorLightGray;
        font-size: 13px;
      }
    }
    .delete-icon{
      display: inline-block;
      width: max-content;
      i{
        &.material-icons{
          color: $colorGray;
          -webkit-text-fill-color: $colorGray;
          font-size: 25px;
          vertical-align: middle;
          position: relative;
          margin-top: -5px;
        }
      }
    }
  }
}

.side-menu{
  background-color: #29B7E5;
  color: #fff;
  position: absolute;
  top: 0;
  right: -320px;
  height: 100%;
  width: 320px;
  z-index: 4;
  .header{
    margin: 3rem 3rem;
    height: 50px;
    .close{
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #fff;
      cursor: pointer;
    }
    .profile-img{
      border-radius: 50%;
      float: left;
      width: 40px;
      background-size: cover;
      background-position: center;
      height: 40px;
      display: inline-block;
      @media(max-width: 480px){
        margin-right: 1.2rem;
      }
    }
    .info{
      float: right;
      strong{
        display: block;
      }
    }
  }
  .content{
    margin: 0 3rem;
    padding: 1rem 0;
    border-top: 1px solid #fff;
    .item{
      margin-top: 1rem;
      padding-left: 1rem;
      i.material-icons{
        font-size: 16px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 223px;
    margin: 0 3rem;
    padding: 1rem 0;
    border-top: 1px solid #fff;
    .item{
      margin-top: 1rem;
      padding-left: 1rem;
      a{
        color: #fff;
      }
      i.material-icons{
        font-size: 16px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }
  }
}

.button-add{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: $colorBlue;
  border-radius: 50%;
  padding: 18px;
  color: $colorWhite;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
  z-index: 1;
  &:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.title{
  font-weight: bold;
  font-size: 1.4rem;
}

.login-box {
  .container-field-user{
    .input-group-text{
      color: #c3c3c3;
    }
  }
  .container-field-pass{
    .input-group-text{
      color: #c3c3c3;
    }
  }
  .user-input{
    font-size: 16px;
    height: 60px;
    &::placeholder{
      color: $placeholderColor;
    }
    &.error{
      border-right: 5px solid $colorRed;
    }
  }
  .pass-input{
    font-size: 16px;
    height: 60px;
    &::placeholder{
      color: $placeholderColor;
    }
    &.error{
      border-right: 5px solid $colorRed;
    }
  }
  span{
    &.error{
      border-right: 5px solid $colorRed;
    }
  }
  a{
    &.error{
      color: $colorRed;
    }
  }
  select{
    font-size: 16px;
    height: 60px;
    color: #c3c3c3;
  }
  .form-check{
    padding-left: 24px;
  }
  button.enter{
    color: #fff;
    background-color: #29B7E5;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 0;
    &:hover{

    }
  }
  a{
    &.create-account,
    &.recovery-pass,
    &.goto-site{
      color: #fff;
      i.material-icons {
        font-size: 16px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }
  }
  .check{
    i{
      font-size: 100px;
    }
  }
}

.admin-content{
  background-color: $colorBackgroundAdmin;
  position: relative;
  height: 100%;
  color: $colorMediumGray;
  @media(max-width: 767px){
    margin: 0 15px;
  }
  strong{
    a{
      &.back{
        i{
          &.material-icons{
            color: $colorGray;
          }
        }
      }
    }
    display: block;
    color: $colorGray;
  }
  .button-filter{
    display: block;
    color: $colorBlue;
    background-color: $colorWhite;
    border: 1px solid $colorBlue;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 5px;
    &.active{
      color: #fff;
      background-color: #03B7E5;
    }
    @media(min-width: 769px){
      margin-bottom: 25px;
    }
  }
  .option{
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    margin-top: 35px;
    padding-top: 12px;
    overflow: hidden;
    &.no-border{
      border: unset;
      background-color: $colorWhite;
    }
    a{
      text-decoration: none;
      color: inherit;
    }
    .mdl-card__supporting-text{
      ul{
        color: $colorGray;
        display: inline-block;
        width: 80%;
        margin-bottom: 0;
      }
      i.material-icons{
        color: $colorBlue;
        font-size: 22px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }
    small{
      padding-left: 40px;
      color: $colorLightGray;
      &.complete{
        color: $colorGreen;
      }
    }
    .line{
      border-radius: 20px;
      margin-top: 3px;
      position: absolute;
      right: 0;
      top: 0;
      height: 90%;
      width: 5px;
    }
    &.red{
      .line{
        background-color: $colorRed;
      }
      ul {
        list-style: none;
        li{
          &::before {
            content: "\2022";
            color: $colorRed;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
    }
    &.blue{
      .line{
        background-color: $colorBlue;
      }
      ul {
        list-style: none;
        li{
          &::before {
            content: "\2022";
            color: $colorBlue;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
    }
    &.yellow{
      .line{
        background-color: $colorYellow;
      }
      ul {
        list-style: none;
        li{
          &::before {
            content: "\2022";
            color: $colorYellow;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
    }
    .treatments{
      margin-top: 30px;
      .detail{
        position: relative;
        .icon{
          display: inline-block;
          top: 0;
          position: absolute;
          width: 15%;
          i{
            &.material-icons{
              margin-left: 15px;
            }
          }
        }
        .text{
          margin-left: 15%;
          display: inline-block;
          width: 60%;
          small{
            display: block;
            padding-left: 0;
            &.red{
              color: $colorRed;
            }
            &.green{
              color: $colorGreen;
            }
            &.yellow{
              color: $colorYellow;
            }
          }
        }
        .status{
          display: inline-block;
          top: 0;
          position: absolute;
          width: auto;
          &.done{
            color: $colorBlue;
          }
          &.undone{
            color: $colorRed;
          }
        }
      }
    }
  }
  form{
    margin-top: $marginStandard;
    .form-group{
      position: relative;
      .form-control{
        color: $colorGray;
        border: 1px solid $borderColorInFields;
        background-color: $backgroundColorInFields;
        &::placeholder{
          color: $placeholderColor;
        }
      }
      input{
        &.form-check-input{
          margin-left: unset;
        }
      }
      label{
        &.form-check-label{
          color: $colorLightGray;
          margin-left: 1.25rem;
        }
      }
      button{
        color: #fff;
        background-color: #29B7E5;
        text-decoration: none;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        &.button-submit{
          position: absolute;
          bottom: 0;
          padding: .6rem 1rem;
        }
      }
    }
  }
  .owl-treatments{
    .item{
      .small-title{

      }
      .title{
        margin-bottom: 25px;
      }
      .behavior-graphics{
        margin-top: 25px;
        .dot{
          width: 25px;
          height: 25px;
          background-color: $colorGray;
          border-radius: 50%;
          display: block;
          margin: 0 auto 15px;
          &.red{
            background-color: $colorRed;
          }
          &.yellow{
            background-color: $colorYellow;
          }
          &.blue{
            background-color: $colorBlue;
          }
        }
        .title{
          font-size: 1.2rem;
          margin-bottom: 0px;
        }
        .performance{
          display: block;
        }
        .icons{
          @media(max-width: 600px){
            margin-bottom: 50px;
          }
          .status{
            display: inline-block;
            top: 0;
            width: auto;
            &.done{
              color: $colorBlue;
            }
            &.undone{
              color: $colorRed;
            }
          }
        }
      }

    }
  }
  .remedy{
    background-color: #F1F2F2;
    padding: 20px;
    .icon{
      display: inline-block;
      top: 0;
      position: absolute;
      width: 8%;
      i{
        &.material-icons{
          margin-left: 15px;
          margin-top: 20px;
        }
      }
    }
    .text{
      margin-left: 8%;
      display: inline-block;
      width: auto;
      &.subtext{
        color: $colorLightGray;
        margin-left: 0;
      }
      @media(max-width: 600px){
        margin-left: 20%;
      }
      small{
        display: block;
      }
    }
  }
  .container-hours{
    width: 400px;
    position: relative;
    margin-top: 25px;
    @media(max-width: 600px){
      width: 100%;
    }
    .hour{
      display: inline-block;
      width: 20%;
      position: absolute;
      top: 0;
    }
    .container-detail{
      margin-left: 60px;
      .hour-detail{
        display: inline-block;
        loat: right;
        width: 60%;
        position: relative;
        @media(max-width: 600px){
          width: 100%;
        }
        .dot{
          width: 15px;
          height: 15px;
          background-color: $colorGray;
          border-radius: 50%;
          display: inline-block;
          &.red{
            background-color: $colorRed;
          }
          &.yellow{
            background-color: $colorYellow;
          }
          &.blue{
            background-color: $colorBlue;
          }
        }
        small{
          margin-left: 20px;
          color: $colorLightGray;
          display: block;
        }
        .status{
          position: absolute;
          right: 0;
          top: 0;
          &.done{
            color: $colorBlue;
          }
          &.undone{
            color: $colorRed;
          }
        }
      }
    }

  }
  .modal{
    .btn-no{
      margin-right: 15px;
      margin-right: 15px;
      color: $colorBlue;
      background-color: $colorWhite;
      text-decoration: none;
      text-align: center;
      padding: 1rem 3rem;
      border-radius: 5px;
      border: 1px solid $colorBlue;
      margin: 0 auto;
    }
    .btn-si{
      margin-left: 15px;
      margin-right: 15px;
      color: $colorWhite;
      background-color: $colorBlue;
      text-decoration: none;
      text-align: center;
      padding: 1rem 3rem;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
}